services:
    -
        class: Tooling\Entities\PhpStan\ModelMustImplementEntity
        tags:
            - phpstan.rules.rule
    -
        class: Tooling\Entities\PhpStan\ModelMustHaveHasUuids
        tags:
            - phpstan.rules.rule
    -
        class: Tooling\Entities\PhpStan\ForEntityMustHaveHasEntity
        tags:
            - phpstan.rules.rule
    -
        class: Tooling\Entities\PhpStan\HasEntityMustHaveIdentifiesEntity
        tags:
            - phpstan.rules.rule
    -
        class: Tooling\Entities\PhpStan\HasEntityIdentifiesEntityPropertyMustBeAnEntity
        tags:
            - phpstan.rules.rule
    -
        class: Tooling\Entities\PhpStan\ModelMustHaveCollectedBy
        tags:
            - phpstan.rules.rule
    -
        class: Tooling\Entities\PhpStan\ModelMustHaveUseEloquentBuilder
        tags:
            - phpstan.rules.rule
    -
        class: Tooling\Entities\PhpStan\ModelMustHaveUseFactory
        tags:
            - phpstan.rules.rule
    -
        class: Tooling\Entities\PhpStan\ModelMustHaveUsePolicy
        tags:
            - phpstan.rules.rule
    -
        class: Tooling\Entities\PhpStan\ModelMustHaveHasFactory
        tags:
            - phpstan.rules.rule
    -
        class: Tooling\Entities\PhpStan\FactoryMustNotBeUsedDirectly
        tags:
            - phpstan.rules.rule
    -
        class: Tooling\Entities\PhpStan\ModelMustNotDefineScopeMethods
        tags:
            - phpstan.rules.rule
    -
        class: Tooling\Entities\PhpStan\HasEntityCannotHaveMultipleIdentifiesEntityProperties
        tags:
            - phpstan.rules.rule
    -
        class: Tooling\Entities\PhpStan\HasEntityMustImplementForEntity
        tags:
            - phpstan.rules.rule
